<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'lavoratr/detail.css' %}" />
	<title>Lavoratr Toilet #{{ toilet.id }}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<h1>{{  toilet.location  }}, {{  toilet.building  }}</h1>
<body>
	<div><p id="rating"></p></div>
	<div id="rate_bar">
		<div id="good_ratings"></div>
		<div id="bad_ratings"></div>
	</div>
	<div><p id="times_rated">Based on <span id='calc_times_rated'></span> reviews.</p></div>
	<div><p id="gender">Gender: {{ toilet.gender }}</p></div>
	<div><p id="single_occupancy">Single Occupancy: {{ toilet.single_occupancy }}</p></div>
	<div><p id="accesible">Accesible: {{ toilet.accesible }}</p></div>
	<div><p id="station">Station: {{ toilet.station }}</p></div>
	<p>Comments:</p>
	<div id="comment_box">
	{% for review_comments in reviews %} 
	    <p class="comments"> {{ review_comments.created }}:  {{ review_comments.rating }}
	    {% if review_comments.comment_box != ""  %}
	        {{ review_comments.comment_box }}
	    {% endif %}
	    </p>
	{% endfor %}
    </div>
	<script>
		var $rating = {{ toilet.positive_ratings }};
	    var $times_rated = 
	        {{ toilet.positive_ratings }} + {{ toilet.negative_ratings }};

        $( document ).ready(function() {
            var real_rating = $rating / $times_rated;
            $( "#times_rated").children("#calc_times_rated").text($times_rated);
            $( "#rating" ).html(real_rating);
            $( "#good_ratings" ).css("width", real_rating * 100);
            $( "#bad_ratings" ).css("width", 100 - real_rating * 100);
        });
    </script>

    <div id="link_div">
    	<a href="/add_review/{{ toilet.id }}/">Add Review</a>
    </div>
</body>
</html>