<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <title>Lavoratr</title>
    <meta charset="utf-8" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'lavoratr/toilet_map.css' %}" />

    <script>
    var $data = {{ toilets_json|safe }};
    </script>

</head>

<body>
    <div>
        <input type="hidden" id="lat" name="lat"/>
        <input type="hidden" id="lng" name="lng"/>
    </div>
    <div id="slider_open_button"></div>
    <div id="right_slider">

        <div id='filter_boxes'>
            <div id="gender_boxes">
                <input type="checkbox" name="female" value="female">Women's<br>
                <input type="checkbox" name="male">Men's<br>
            </div>
            <div id='option_boxes'>Show only restrooms that have these qualities<br>
                <input class="option_box" type="checkbox" name="single_occupancy">Single Occupancy<br>
                <input class="option_box" type="checkbox" name="accesible">Disability Accesible<br>
                <input class="option_box" type="checkbox" name="station">Changing Station<br>
            </div>

        </div>
        <div class='box_container'>
                <a class="menu_button" id="add_restroom"  href="#" title="Add Restroom">Add Restroom</a>
                <a class="menu_button" id="filter"  href="#" title="Filter">Filter Restrooms</a>
        </div>
    </div>

    <div id="map_border">
        <div id="map"></div>
    </div>
    <div>    
        <form id="dialogform" style="display: none">
            <input type="hidden" id="point" name="point"/>
            <input type="text" id="other" name="other"/>
        </form>
    </div>
    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>

    <script type="text/javascript" src="{% static 'lavoratr/toilet_map.js' %}"></script>
</body>

</html>
