 <!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <title>Lavoratr</title>
    <meta charset="utf-8" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'lavoratr/toilet_map.css' %}" />

    <script>
    var $data = {{ toilets_json|safe }};
    </script>

</head>

<body>
    <div>
        <input type="hidden" id="lat" name="lat"/>
        <input type="hidden" id="lng" name="lng"/>
    </div>
    <div id="map_border">
        <div id="map"></div>
        <button id="add_toilet" type="button">Add a Toilet</button>
    </div>
    <div>    
        <form id="dialogform" style="display: none">
            <input type="hidden" id="point" name="point"/>
            <input type="text" id="other" name="other"/>
        </form>
    </div>
    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>

    <script type="text/javascript" src="{% static 'lavoratr/toilet_map.js' %}"></script>
</body>

</html>
