body {
    padding: 0;
    margin: 0;
    background: #88bfe8; /* Old browsers */
	background: #b2e1ff;
	background: -moz-linear-gradient(top,  #b2e1ff 0%, #66b6fc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc));
	background: -webkit-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%);
	background: -o-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%);
	background: -ms-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%);
	background: linear-gradient(to bottom,  #b2e1ff 0%,#66b6fc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=0 );

}
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;

}

#map_border{
	background-color: #00CC66;

}

.leaflet-popup-tip {
    background-color: #99B5E0;
    color: #99B5E0;
}

#map, #map_border{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#map{
    top: 50mpx;
    padding-top: 500px;
}



.leaflet-popup-close-button {
    right: 5% !important;
    width: 10% !important;
    top: 2% !important;
}



.leaflet-popup-content-wrapper {
    background-color: #ffffff;
    border: 5px solid #99B5E0;
    border-radius: 20% !important;
}

.detail_link {
	text-align: center;
}


#slider_open_button{
    position: relative;
    float: right;
    margin-left: auto;
    margin-right: 0px;
    width: 50px;
    background-color: red;
    height: 20%;
    z-index: 99;
    top: 40%;
    background-color: #FFF;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-bottom-color: #000;
    border-radius: 4px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    color: #000;
    pointer-events: auto;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
}

#right_slider {
    position: relative;
    width: 250px;
    height: 100%;
    float: right;
    margin-left: auto;
    right: -300px;
    z-index: 99;
    border-radius: 8px 0px 0px 8px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
    background-color: #FFF;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-bottom-color: #000;
    border-bottom-style: none;
    border-bottom-width: 0px;
    color: #000;
    pointer-events: auto;
}

#slider{
    width: 200px;
    display: inline-block;
}
.menu_button{
    background-color: #FFF;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-bottom-color: #000;
    border-radius: 4px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    color: #000;
    width: 110px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    pointer-events: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 1px;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -moz-text-decoration-color: #000;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 100%;
}

.box_container{
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-left: 10px;
}

#submit_form_button{
    display: none;
}

#submit_button{
    background-color: #FFF;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-bottom-color: #000;
    border-radius: 4px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    color: #000;
    width: 110px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    pointer-events: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 1px;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -moz-text-decoration-color: #000;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 100%;
}

form{
max-width:300px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:'Open Sans', sans-serif;
background-color:#fff;
}

#close{
    float: right;
    margin-top: -5px;
    margin-right: -38px;
    cursor: pointer;
    color: #AEAEAE;
    background: none repeat scroll 0% 0% #FFF;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px; 
}

#close:before {
    content: "×";
}

#popup_wrapper{
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
z-index: 120;
background-color:#313131;
overflow:auto;
}

#popup_background{
    width: 100%;
    height: 100%;
    z-index: 99;
}

#popup_content{
    z-index: 119;
    position:absolute;
left:50%;
top:17%;
margin-left:-202px;
}

#navbar{
    width: 100%;
    height: 50px;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 670;
    background-color: white;
}